<h1>파파고 한영 번역</h1>
<form action="/home/api" method="post">
  <input type="text" name="translate">
  <input type="submit">
</form>

<h1>영화 검색</h1>
<form action="/home/before" method="post">
  <input type="text" name="translate">
  <input type="submit">
</form>

<h1>클로바 음성 합성</h1>
<form action="/home/speech" method="post">
  <input type="text" name="text">
  <input type="submit">
</form>
